.card-container {
	position: relative;
	background-color: white;
	padding: 15px;
	height: 200px;
	width: 275px;
	border-radius: 3px;
	box-shadow: 0px 0px 2px 2px gray;
}

.card-title-container {
	position: relative;
	font-family: "Inter";
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 10px;
}

.card-description-container {
	font-family: "Poppins";
	font-size: 14px;
}
.card-button {
	display: inline-block;
	position: absolute;
	left: 15px;
	bottom: 15px;
	background-color: #076aff;
	color: white;
	font-family: "Inter";
	padding: 6px 12px;
	border-radius: 3px;
	box-shadow: 0px 0px 3px 2px rgb(196, 196, 196);
	transition: 0.3s;
}

.card-button:hover {
	cursor: pointer;

	background-color: #0657d1;
}
