.nav-link-container {
	position: relative;
	background-color: transparent;
	color: #2c3e50;
	box-sizing: border-box;

	width: 90%;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 10px;
	transition: 0.3s;
}

.nav-link-container i {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
}

.nav-link-wrapper {
	position: relative;

	padding: 10px;
	transition: 0.3s;
}
.nav-link-wrapper:hover {
	cursor: pointer;
	background-color: #3168ff;
	color: white;
}

.sub-links-container {
	position: relative;
	top: 5px;

	z-index: 2;
	height: 0px;
	transition: 0.3s;
	box-sizing: border-box;
	overflow: hidden;
}

.sub-link-container {
	box-sizing: border-box;
	padding: 8px;
	padding-left: 25px;
	background-color: transparent;
	color: black;
	transition: 0.3s;
}

.sub-link-container:hover {
	background-color: rgb(10, 68, 255);
	color: white;
	cursor: pointer;
}
