.ui-library-app-container {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 17% auto;
	overflow-y: hidden;
}

.mobile-top-bar-container {
	position: relative;
	padding: absolute;

	width: 100%;

	display: none;
}

.github-button {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	background-color: #2f3640;
	color: white;
	height: 20px;
	width: 20px;
	padding: 5px;
	border-radius: 3px;
}

.mobile-top-bar-container .fa-github {
	font-size: 20px;
}

.mobile-nav-bar-button {
	position: absolute;
	background-color: rgb(17, 73, 255);
	left: 10px;
	top: 50%;
	transform: translateY(-50%);

	width: 26px;
	height: 26px;
	border-radius: 3px;
	display: none;
}

.mobile-nav-bar-button i {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.mobile-component-nav-bar-container {
	display: none;
}

.mobile-nav-bar-overlay {
	display: none;
}

.component-nav-bar-container {
	position: relative;
	box-sizing: border-box;
	border-right: 1px solid rgba(0, 0, 0, 0.514);
	background-color: white;
}

.component-nav-bar-logo {
	width: 100%;
	box-sizing: border-box;
	padding: 20px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	border-bottom: 1px solid rgba(0, 0, 0, 0.438);
}

.component-nav-bar-content-wrapper {
	padding: 20px;
	box-sizing: border-box;
}

.main-view-container {
	display: grid;
	grid-template-columns: 65% auto !important;
}

.component-information-container {
	position: relative;

	height: 100%;
	padding: 30px;
	box-sizing: border-box;
	display: grid !important;
	grid-template-rows: 10% 50px 5% auto;
}

.component-title-container {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 20px;
	font-family: "Inter";
}

.component-description-container {
	margin-bottom: 20px;

	min-height: 50px;
}

.component-nav-buttons-container {
	display: grid;
	grid-template-columns: auto auto;
}

.component-nav-button {
	position: relative;
	display: inline-block;
	padding: 10px 15px;
	background-color: rgb(231, 231, 231);

	box-sizing: border-box;
	border-left: 1px solid gray;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	font-family: "Source Sans Pro";
	font-weight: 600;
	text-align: center;
	transition: 0.3s;
}

.component-nav-button:hover {
	cursor: pointer;
}

.nav-button-underline {
	position: absolute;
	left: 0px;
	bottom: -1px;
	width: 0px;
	height: 3px;
	background-color: rgb(25, 104, 252) !important;
	transition: 0.3s;
}

.properties-button {
	border-right: 1px solid gray;
}

.mobile-preview-button {
	display: none;
}

.component-data-wrapper {
	position: relative;
	box-sizing: border-box;

	max-height: 100%;

	top: 30px;
}
.component-data-header {
	font-size: 30px;
	font-weight: bold;
	font-family: "Source Sans Pro";
}

.component-usage-container {
	position: relative;
	width: 100%;
	height: 500px;
	box-sizing: border-box;
	padding: 5px;
	overflow-y: scroll;
}

.component-usage-info-container {
	position: relative;

	margin-bottom: 40px;
	margin-top: 20px;
}

.components-usage-example-container {
	position: relative;
	width: 100%;

	margin-top: 20px;
	box-sizing: border-box;
}

.components-usage-example-container pre {
	position: relative !important;
	display: block;
	width: 100%;
	font-size: 14px !important;
	box-sizing: border-box;
	opacity: 1;
}

.components-usage-example-container pre code {
	position: relative !important;
	display: block;
	width: 100px;
	font-size: 14px !important;
	box-sizing: border-box;
	opacity: 1;
}

.components-usage-description-container {
	position: relative;
	line-height: 25px;
}

.keyword-text {
	box-shadow: 0px 0px 3px 1px gray;
	background-color: white;
	padding: 3px;
	margin-right: 6px;
	text-align: center !important;
	border-radius: 3px;
	font-size: 15px;
	font-family: "Cabin";
	font-weight: bold;
}

.plain-text {
	margin-right: 2px;
	text-align: center;
	font-family: "Inter";
}

.component-properties-container {
	position: relative;
	height: 400px;
	margin-top: 5px;

	box-sizing: border-box;
	padding: 5px;

	overflow-y: scroll !important;
}

.component-property-container {
	display: grid;
	grid-template-columns: 30% auto;
}

.component-property-details-container {
	margin-bottom: 35px;
	display: inline-block;
}

.property-type-default {
	font-style: italic;
}

.prop-type {
	font-weight: bold;
	font-family: "Poppins";
}

.property-description {
	position: relative;

	color: #2f3640;
	font-weight: 600;
	top: 10px;
}

.component-property-name {
	display: inline-block;
	border-radius: 2px;
	padding: 5px 10px;
	background-color: white;
	box-shadow: 0px 0px 2px 1px black;
}

.component-preview-container {
	position: relative;
	background-color: rgb(255, 255, 255);
	box-sizing: border-box;
	border-left: 1px solid gray;
}

.mobile-component-preview-container {
	display: none;
	position: relative;
	background-color: rgb(255, 255, 255);

	height: 90%;
	box-sizing: border-box;
}

.component-preview-container > div:first-child {
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1100px) {
	.ui-library-app-container {
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-rows: 55px auto;
		grid-template-columns: 100%;
	}
	.mobile-top-bar-container {
		display: inline-block;
		background-color: white;
		box-sizing: border-box;
		border-bottom: 1px solid black;
	}
	.mobile-nav-bar-button {
		display: inline-block;
		z-index: 10;
	}

	.component-nav-bar-container {
		display: none;
	}

	.main-view-container {
		display: grid;
		grid-template-columns: 100% !important;
	}

	.component-information-container {
		position: relative;

		height: 100%;

		padding: 15px;

		box-sizing: border-box;
		display: grid !important;
		grid-template-rows: 8% 75px 5% auto;
	}

	.properties-button {
		border-right: none;
	}

	.preview-button {
		border-right: 1px solid gray;
	}

	.mobile-preview-button {
		display: inline-block;
	}

	.component-preview-container {
		display: none;
	}

	.mobile-component-preview-container {
		position: relative;

		width: 100%;
		display: inline-block;
	}

	.mobile-component-preview-container > div:first-child {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	.mobile-component-nav-bar-container {
		position: absolute;
		left: -100%;
		width: 100%;
		z-index: 5;
		display: inline-block;

		height: 100%;
		box-sizing: border-box;

		z-index: 11;
		transition: 0.3s;
	}

	.mobile-nav-bar-wrapper {
		position: relative;
		width: 80%;
		height: 100%;
		background-color: white;
		border-top-right-radius: 5px;
		border-bottom-left-radius: 5px;
		box-sizing: border-box;
		border-right: 1px solid black;
	}

	.mobile-nav-bar-overlay {
		display: inline-block;
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(128, 128, 128, 0.226);
	}

	.component-nav-buttons-container {
		grid-template-columns: auto auto auto;
	}

	.component-property-container {
		display: grid;
		grid-template-columns: 45% auto;
	}
}

@media only screen and (max-width: 600px) {
}
